<div class="body show-form">
	<h3>输入车辆信息</h3><br>
	<form method="post" action="http://localhost:8000/buses" {{action "postBus" on="submit"}}>
		<label class="title font1"><strong>牌照号：</strong></label>{{input name="license" value=model.license class="font1" size=15}}
		&nbsp;&nbsp;
		<label class="title font1"><strong>自定义编号：</strong></label>{{input name="customID" value=model.customID class="font1" size=15}}<br>
		<label class="title font1"><strong>品&nbsp;&nbsp;&nbsp;牌：</strong></label>{{input name="brand" value=model.brand class="font1" size=15}}&nbsp;&nbsp;&nbsp;&nbsp;
		<label class="title font1"><strong>生产时间：</strong></label>
		{{date-picker name="productionDate" date=model.productionDate valueFormat='YYYY-MM-DD'}}<br><br>
		<button class="button" type="submit">提交</button>
		<button class="button" {{action "cancel"}}>取消</button>
	</form>
</div>
{{yield}}
