<button class="button" {{action "launchConfirmDialog"}}>{{text}}</button>
{{#if confirmShown}}
	<div class="confirm-dialog">
	{{yield}}
		<button class="confirm-submit button" {{action "submitConfirm"}}>OK</button>
		<button class="confirm-cancel button" {{action "cancelConfirm"}}>Cancel</button>
	</div>
{{/if}}
