<div class="body show-form">
{{#link-to "show-driver"}}回到司机汇总页{{/link-to}}<br>
	<h3>员工详细信息</h3>
	<form method="post">
		<label class="title font1"><strong>编号：</strong></label><label class="font1">{{model.id}}</label><br>
		<label class="title font1"><strong>姓名：</strong></label>{{input name="name" class="font1" readonly=readonly size=10 value=model.name}}<br>
		<label class="title font1"><strong>工种：</strong></label>{{input name="jobType" class="font1" readonly=readonly size=10 value=model.jobType}}<br>
		<label class="title font1"><strong>身份证：</strong></label>{{input name="personalID" class="font1" readonly=readonly size=25 value=model.personalID}}<br>
		<label class="title font1"><strong>入职时间：</strong></label>
		{{date-picker name="onboardTime" date=model.onboardTime valueFormat='YYYY-MM-DD'}}<br>
		
		<label class="title font1"><strong>驾照类型：</strong></label>{{input name="driverType" class="font1" readonly=readonly size=10 value=model.driverType}}<br>
		<label class="title font1"><strong>是否在实习期：</strong></label>
		{{radio-button value=true checked=model.isInternship}}是
		{{radio-button value=false checked=model.isInternship}}否
		<br>
		<label class="title font1"><strong>是否多次入职：</strong></label>
		{{radio-button value=true checked=model.isMultitimeHired}}是
		{{radio-button value=false checked=model.isMultitimeHired}}否
		<br>
		<label class="title font1"><strong>电话：</strong></label>{{input type="telephone" name="phone" class="font1" readonly=readonly size=15 value=model.phone}}<br>
		<label class="title font1"><strong>首次入职时间：</strong></label>
		{{date-picker name="firstOnboardTime" date=model.firstOnboardTime valueFormat='YYYY-MM-DD'}}<br>
		<label class="title font1"><strong>部门：</strong></label>{{input name="department" class="font1" readonly=readonly size=15 value=model.department}}<br>
		<label class="title font1"><strong>紧急联系人：</strong></label>{{input name="emergencyContact" class="font1" readonly=readonly size=10 value=model.emergencyContact}}<br>
		<label class="title font1"><strong>紧急联系电话：</strong></label>{{input type="telephone" name="emergencyContactPhone" class="font1" readonly=readonly size=15 value=model.emergencyContactPhone}}<br>
		<label class="title font1"><strong>紧急联系人关系：</strong></label>{{input name="emergencyContactRelation" class="font1" readonly=readonly size=10 value=model.emergencyContactRelation}}<br>
		{{#if readonly}}
			<button class="button" {{action "changeEditable"}}>编辑</button>
		{{/if}}
		{{#unless readonly}}
			<button class="button" type="submit">提交</button>
			<button class="button" {{action "cancel"}}>取消</button>
		{{/unless}}
	</form>
</div>
{{outlet}}
